In [1]:
import pandas as pd

DATA = '/kaggle/input/monthly-rupee-trend-for-last-30-years/Currency_Trends_Data.csv'
df = pd.read_csv(filepath_or_buffer=DATA, parse_dates=['Date'])
df.head()

        Date  USD_Price  GBP_Price  CAD_Price  AUD_Price
0 1999-01-01     42.490     69.928     28.130     26.792
1 1999-02-01     42.680     68.394     28.302     26.409
2 1999-03-01     42.405     68.304     28.120     26.916
3 1999-04-01     42.810     68.903     29.392     28.319
4 1999-05-01     42.850     68.689     29.074     27.803

The obvious thing to do with this data is to make a line plot showing each of the four time series, so let's do that.

In [2]:
from plotly import express
from plotly.offline import init_notebook_mode

init_notebook_mode(connected=True)
express.line(data_frame=df[['Date', 'USD_Price', 'GBP_Price', 'CAD_Price', 'AUD_Price']].melt(id_vars=['Date']), x='Date', y='value', color='variable').show(renderer='iframe_connected',)

The four currencies, two of them being major and the other two minor currencies, are correlated but different. First let's look at the correlations.

In [3]:
df[['USD_Price', 'GBP_Price', 'CAD_Price', 'AUD_Price']].corr()

           USD_Price  GBP_Price  CAD_Price  AUD_Price
USD_Price   1.000000   0.836043   0.857086   0.771029
GBP_Price   0.836043   1.000000   0.856771   0.803446
CAD_Price   0.857086   0.856771   1.000000   0.970429
AUD_Price   0.771029   0.803446   0.970429   1.000000

The currencies are obviously pretty highly correlated. It is pretty clear, for example, that the CAD and AUD prices are essentially identical. Let's try scaling the prices by their initial values so we can plot the change over time.

In [4]:
for price in ['USD_Price', 'GBP_Price', 'CAD_Price', 'AUD_Price']:
    df[price + '_scaled'] = df[price]/df[price].iloc[0]
    
express.line(data_frame=df[['Date', 'USD_Price_scaled', 'GBP_Price_scaled', 'CAD_Price_scaled', 'AUD_Price_scaled']].melt(id_vars=['Date']), x='Date', y='value', color='variable').show(renderer='iframe_connected',)

What do we see? Because we scaled by the initial values we have in a sense put the different currencies on equal footing, and we can see more easily how rupees have performed as an alternative asset. All four have performed better over the full period of interest, but CAD have performed the best, followed by AUD, then USD, and finally GBP. What is surprising is that this has been more true than it has not, with USD and GBP being fairly similar through about 2014 and diverging thereafter.