In [1]:
import pandas as pd
df = pd.read_csv(filepath_or_buffer='/kaggle/input/global-news-dataset/data.csv', index_col=['article_id'],
                 parse_dates=['published_at']).drop(columns=['url', 'url_to_image'])
df['date'] = pd.to_datetime(df['published_at'].apply(func=lambda x: x.split()[0]))
df.head()

,source_id,source_name,author,title,description,published_at,content,category,full_content,date
article_id,,,,,,,,,,
81664,NaN,Forbes,"Elizabeth Brownfield, Contributor, \n Elizabet...",Superstar Chef Yannick Alléno Brings Refined F...,Now open in Mayfair at Four Seasons Hotel Lond...,2023-11-01 03:27:21.000000,"Pavyllon London, at Four Seasons Hotel London ...",Monaco,"Pavyllon London, at Four Seasons Hotel London ...",2023-11-01
81666,NaN,Eurosport.fr,NaN,"Battu sur le fil à Nancy, Paris cède son trône","""Le Paris Basketball n\u0027est plus invincibl...",2023-10-05 21:36:49.000000,"T.J. Shorts, Paris Basketball\nCrédit: Imago",Monaco,NaN,2023-10-05
81667,NaN,CNA,NaN,Nice claim top spot in Ligue 1 with late win a...,Nice moved into provisional first place in the...,2023-10-27 21:28:48.000000,Nice moved into provisional first place in the...,Monaco,Nice moved into provisional first place in the...,2023-10-27
81680,NaN,Paul Tan's Automotive News,Mohan K Ramanujam,"Lotus reveals Type 136 First Edition e-bike, R...",Fusing Formula 1 engineering with electric bic...,2023-11-02 05:32:49.000000,Fusing Formula 1 engineering with electric bic...,Monaco,NaN,2023-11-02
81683,NaN,Autocar,Felix Page,New Mazda concept previews rotary-electric MX-...,Rotary-electric powertrain is said to allow fo...,2023-10-25 00:31:45.000000,Mazda has given a radical vision of what the f...,Monaco,NaN,2023-10-25

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73133 entries, 81664 to 261138
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   source_id     14723 non-null  object
 1   source_name   73133 non-null  object
 2   author        64914 non-null  object
 3   title         73093 non-null  object
 4   description   72756 non-null  object
 5   published_at  73133 non-null  object
 6   content       73133 non-null  object
 7   category      73100 non-null  object
 8   full_content  26190 non-null  object
 9   date          73133 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(9)
memory usage: 6.1+ MB

In [3]:
df.nunique()

source_id          61
source_name      2379
author          17608
title           70379
description     70683
published_at    59797
content         70291
category          257
full_content    25774
date               39
dtype: int64