In [1]:
import pandas as pd

COMPANY = '/kaggle/input/movie-production-companies-in-europe/Movie Production Companies in Europe Dataset/company.csv'

df = pd.read_csv(filepath_or_buffer=COMPANY)
df.head()

,id,name,address,zip_code,city_id,country_code,kind_of_organization_id,total_asset,total_liability,registration_body_id,registration_date
0,AL-DOT-123669,Darkness on the Edge of Town,119 Kyle Extensions Apt. 937,13011,150,AL,9,45472664.0,1561822.0,31,2011-06-28
1,AT-FEM-585738,For Emma,773 Adams Motorway Suite 475,9592,358,AT,7,89277750.0,2301096.0,1,2011-10-27
2,AT-LAD-707649,Life After Death,0485 Autumn Keys,60983,402,AT,8,702367.0,78808.0,1,2018-05-22
3,AT-TDS-702180,The Downward Spiral,3295 Patricia Island,28099,402,AT,2,2089716.0,985024.0,1,2016-07-10
4,AT-TGT-268399,The Great Twenty-Eight,PSC 3008,54100,14,AT,9,1141348.0,164384.0,1,2015-02-20