In [1]:
import pandas as pd
df = pd.read_csv(
    filepath_or_buffer='/kaggle/input/global-fire-burned-area/GlobalFireBurnedArea_2022.csv',
    index_col=['ID'],
    parse_dates=['Initialdate', 'Finaldate'],
)
df.head()

,Initialdate,Finaldate,Area_ha,Area_m2,Area_Km2,CountryName,Continent,Region
ID,,,,,,,,
25078590,2022-01-09,2022-02-06,50232.10763,502321076.3,502.321076,Ghana,Africa,Western Africa
25079092,2022-01-11,2022-02-08,82380.29538,823802953.8,823.802954,Nigeria,Africa,Western Africa
25079113,2022-01-11,2022-02-03,36851.12748,368511274.8,368.511275,Nigeria,Africa,Western Africa
25083241,2022-01-03,2022-02-12,43303.63519,433036351.9,433.036352,Nigeria,Africa,Western Africa
25095507,2022-01-01,2022-02-11,75753.14059,757531405.9,757.531406,Central African Republic,Africa,Middle Africa

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 319278 entries, 25078590 to 26100041
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Initialdate  319278 non-null  datetime64[ns]
 1   Finaldate    319278 non-null  datetime64[ns]
 2   Area_ha      319278 non-null  float64
 3   Area_m2      319278 non-null  float64
 4   Area_Km2     319278 non-null  float64
 5   CountryName  319278 non-null  object
 6   Continent    319278 non-null  object
 7   Region       319278 non-null  object
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 21.9+ MB