Let's load up our data. We have a bunch of NaNs, so we get lots of warnings.

In [1]:
import pandas as pd

DATA = '/kaggle/input/10-countries-forest-data/forest_area.csv'
df = pd.read_csv(filepath_or_buffer=DATA)
df.head()

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

       country  date  Forest area (sq. km)
0  Afghanistan  2023                   NaN
1  Afghanistan  2022               12084.4
2  Afghanistan  2021               12084.4
3  Afghanistan  2020               12084.4
4  Afghanistan  2019               12084.4

How much data do we have?

In [2]:
df.nunique().to_frame().T

   country  date  Forest area (sq. km)
0       10    64                   267

We have a moderate amount of data. Let's make a line plot.

In [3]:
from plotly import express
from plotly.offline import init_notebook_mode

init_notebook_mode(connected=True)
express.line(data_frame=df.dropna(), x='date', y='Forest area (sq. km)', color='country').show(renderer='iframe_connected',)

Our data looks really linear. Let's try looking at the same data with a scatter plot.

In [4]:
express.scatter(data_frame=df.dropna(), x='date', y='Forest area (sq. km)', color='country', log_y=True).show(renderer='iframe_connected',)

If we look at the data using a log scale we can see the relative change more clearly.

Maybe what's interesting about this data is the relative change over time, rather than the absolute change over time.

In [5]:
change_df = df.dropna().drop(columns=['date']).groupby(by=['country']).agg({'first', 'last'}).reset_index()
change_df['change'] = change_df[('Forest area (sq. km)', 'last')] / change_df[('Forest area (sq. km)', 'first')]
express.bar(data_frame=change_df.sort_values(by=['change']), x='country', y='change').show(renderer='iframe_connected',)

We might think of a net change of 1.0 as being the pass/fail line, with gainers as winners.