In [1]:
import pandas as pd
df = pd.read_csv(filepath_or_buffer='/kaggle/input/digital-tv-station-transmitter-data/TV_Digital_Station_Transmitters.csv', index_col=[0],).drop(columns=['X', 'Y', 'LAT', 'LON', 'STATUS', 'COUNTRY'])
df.head()

,FID,CALLSIGN,SERVICE,CHANNEL,CITY,STATE,FILENUM,ERP,HAAT,FACID,LICENSEE,LATDD,LONDD
index,,,,,,,,,,,,,
0,2001,K13XD-D,DC,13,FAIRBANKS,AK,BLDVA -20111128DAA,3. kW,0.0,64596,TANANA VALLEY TELEVISION COMPANY,64.9222,147.7153
1,2002,KATN,DT,18,FAIRBANKS,AK,BLCDT -20070403AAO,16. kW,230.0,13813,VISION ALASKA II LLC,64.9222,147.7136
2,2003,KFXF,DT,7,FAIRBANKS,AK,BLCDT -20090129AMM,6.1 kW,268.0,64597,TANANA VALLEY TELEVISION COMPANY,64.9222,147.7153
3,2004,KJNP-TV,DT,20,NORTH POLE,AK,BLCDT -20100126AEF,30.9 kW,491.6,20015,"EVANGELISTIC ALASKA MISSIONARY FELLOWSHIP, INC.",64.8792,148.0539
4,2005,KTVF,DT,26,FAIRBANKS,AK,BLCDT -20090720ACS,27. kW,471.0,49621,CHENA BROADCASTING LLC,64.8792,148.0539

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2030 entries, 0 to 2029
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   FID       2030 non-null   int64
 1   CALLSIGN  2030 non-null   object
 2   SERVICE   2030 non-null   object
 3   CHANNEL   2030 non-null   int64
 4   CITY      2030 non-null   object
 5   STATE     2030 non-null   object
 6   FILENUM   2030 non-null   object
 7   ERP       2030 non-null   object
 8   HAAT      2030 non-null   float64
 9   FACID     2030 non-null   int64
 10  LICENSEE  2030 non-null   object
 11  LATDD     2030 non-null   float64
 12  LONDD     2030 non-null   float64
dtypes: float64(3), int64(3), object(7)
memory usage: 222.0+ KB

In [3]:
df.nunique()

FID         2030
CALLSIGN    1949
SERVICE        4
CHANNEL       53
CITY         818
STATE         54
FILENUM     2028
ERP          721
HAAT         982
FACID       1949
LICENSEE    1205
LATDD       1438
LONDD       1454
dtype: int64