In [1]:
import pandas as pd
df = pd.read_csv(filepath_or_buffer='/kaggle/input/suicides/Death_rates_for_suicide__by_sex__race__Hispanic_origin__and_age__United_States.csv')
df.head()

,INDICATOR,UNIT,UNIT_NUM,STUB_NAME,STUB_NAME_NUM,STUB_LABEL,STUB_LABEL_NUM,YEAR,YEAR_NUM,AGE,AGE_NUM,ESTIMATE,FLAG
0,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.0,1950,1,All ages,0.0,13.2,NaN
1,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.0,1960,2,All ages,0.0,12.5,NaN
2,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.0,1970,3,All ages,0.0,13.1,NaN
3,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.0,1980,4,All ages,0.0,12.2,NaN
4,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.0,1981,5,All ages,0.0,12.3,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6390 entries, 0 to 6389
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   INDICATOR       6390 non-null   object
 1   UNIT            6390 non-null   object
 2   UNIT_NUM        6390 non-null   int64
 3   STUB_NAME       6390 non-null   object
 4   STUB_NAME_NUM   6390 non-null   int64
 5   STUB_LABEL      6390 non-null   object
 6   STUB_LABEL_NUM  6390 non-null   float64
 7   YEAR            6390 non-null   int64
 8   YEAR_NUM        6390 non-null   int64
 9   AGE             6390 non-null   object
 10  AGE_NUM         6390 non-null   float64
 11  ESTIMATE        5484 non-null   float64
 12  FLAG            906 non-null    object
dtypes: float64(3), int64(4), object(6)
memory usage: 649.1+ KB

In [3]:
df[(df['UNIT_NUM'] == 1) & (df['STUB_NAME_NUM'] == 0)][['YEAR', 'ESTIMATE']]

    YEAR  ESTIMATE
0   1950      13.2
1   1960      12.5
2   1970      13.1
3   1980      12.2
4   1981      12.3
5   1982      12.5
6   1983      12.4
7   1984      12.6
8   1985      12.5
9   1986      13.0
10  1987      12.8
11  1988      12.5
12  1989      12.3
13  1990      12.5
14  1991      12.3
15  1992      12.0
16  1993      12.1
17  1994      11.9
18  1995      11.8
19  1996      11.5
20  1997      11.2
21  1998      11.1
22  1999      10.5
23  2000      10.4
24  2001      10.7
25  2002      10.9
26  2003      10.8
27  2004      11.0
28  2005      10.9
29  2006      11.0
30  2007      11.3
31  2008      11.6
32  2009      11.8
33  2010      12.1
34  2011      12.3
35  2012      12.6
36  2013      12.6
37  2014      13.0
38  2015      13.3
39  2016      13.5
40  2017      14.0
41  2018      14.2

In [4]:
from plotly.express import line
line(data_frame=df[(df['UNIT_NUM'] == 1) & (df['STUB_NAME_NUM'] == 0)][['YEAR', 'ESTIMATE']], x='YEAR', y='ESTIMATE')