In [1]:
import pandas as pd
t1_df = pd.read_csv(filepath_or_buffer='/kaggle/input/mortality-rate-infant-per-1000-live-births/T1.csv')
columns = t1_df.iloc[0]
columns = [int(item) if isinstance(item, float) else item for item in columns]
t1_df = t1_df[1:]
t1_df.columns = columns

df = t1_df.merge(right=pd.read_csv(filepath_or_buffer='/kaggle/input/mortality-rate-infant-per-1000-live-births/T2.csv'), right_on='TableName', left_on='Country Name', how='inner')

df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,Region,IncomeGroup,SpecialNotes,TableName
0,Australia,AUS,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,20.3,19.9,19.5,19.1,18.7,18.5,...,3.2,3.2,3.2,3.2,3.2,3.2,East Asia & Pacific,High income,The reporting period for national accounts dat...,Australia
1,Austria,AUT,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,37.3,34.9,32.9,31.1,29.6,28.3,...,3.0,2.9,2.9,2.9,3.0,3.0,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Austria
2,Belgium,BEL,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,29.4,28.1,27.0,26.0,25.0,24.0,...,3.3,3.4,3.4,3.4,3.4,3.4,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Belgium
3,Bangladesh,BGD,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,174.8,170.7,166.9,163.4,160.4,157.8,...,29.5,28.1,26.7,25.3,24.1,22.9,South Asia,Lower middle income,The reporting period for national accounts dat...,Bangladesh
4,Canada,CAN,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,27.8,26.9,26.0,25.0,24.0,23.1,...,4.7,4.6,4.6,4.5,4.5,4.4,North America,High income,Fiscal year end: March 31; reporting period fo...,Canada