In [1]:
import pandas as pd
df = pd.read_csv(filepath_or_buffer='/kaggle/input/correlates-of-the-trump-vote-in-2016/trum.csv', 
                index_col=['uid']).drop(columns=['Unnamed: 0'])

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64600 entries, 1 to 64600
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   state        64600 non-null  object
 1   votetrump    44932 non-null  float64
 2   age          64600 non-null  int64
 3   female       64600 non-null  int64
 4   collegeed    64600 non-null  int64
 5   racef        64600 non-null  object
 6   famincr      58079 non-null  float64
 7   ideo         59815 non-null  float64
 8   pid7na       62479 non-null  float64
 9   bornagain    64557 non-null  float64
 10  religimp     64566 non-null  float64
 11  churchatd    63860 non-null  float64
 12  prayerfreq   63087 non-null  float64
 13  angryracism  52834 non-null  float64
 14  whiteadv     52837 non-null  float64
 15  fearraces    52775 non-null  float64
 16  racerare     52778 non-null  float64
 17  lrelig       64596 non-null  float64
 18  lcograc      52898 non-null  float64
 19  lemprac      52897 non-null  float64
dtypes: float64(15), int64(3), object(2)
memory usage: 10.4+ MB

In [2]:
df.head()

,state,votetrump,age,female,collegeed,racef,famincr,ideo,pid7na,bornagain,religimp,churchatd,prayerfreq,angryracism,whiteadv,fearraces,racerare,lrelig,lcograc,lemprac
uid,,,,,,,,,,,,,,,,,,,,
1,New Hampshire,1.0,47,1,0,White,NaN,3.0,5.0,0.0,3.0,1.0,3.0,2.0,3.0,1.0,3.0,-0.191681,0.475294,-0.138715
2,Louisiana,1.0,22,1,0,White,6.0,3.0,4.0,NaN,NaN,NaN,NaN,1.0,4.0,1.0,1.0,NaN,-0.185682,-0.619427
3,Missouri,NaN,52,1,0,Black,4.0,5.0,1.0,0.0,4.0,4.0,5.0,NaN,NaN,NaN,NaN,0.573060,NaN,NaN
4,Alabama,NaN,28,1,0,Black,1.0,4.0,4.0,0.0,3.0,3.0,5.0,NaN,NaN,NaN,NaN,0.069356,NaN,NaN
5,Colorado,0.0,34,1,1,White,7.0,2.0,2.0,0.0,1.0,1.0,2.0,2.0,1.0,1.0,1.0,-1.130175,-1.204085,-0.138715