In [1]:
import pandas as pd

GAMES = '/kaggle/input/chess-cheating-dataset/Games.csv'

df = pd.read_csv(filepath_or_buffer=GAMES)
df.head()

,Liste cheat white,Liste cheat black,Game,Elo White,Elo Black,Score
0,00000000001111101010111010100110000001001111,0000000000111001000000001100100000000111000,1. d4 e6 2. c4 d5 3. Nc3 Be7 4. Nf3 Nf6 5. Bf4...,1001,-1,1/2-1/2
1,0000000000000010111101100000100111000111101111001,0000000000110111110111111111111111111011111111111,1. d4 c5 2. c4 cxd4 3. Qxd4 Nc6 4. Qd1 e6 5. N...,1001,-1,1/2-1/2
2,0000000000111001110111100111111110101011110111...,0000000000111111100001111111111111111111010101...,1. e4 e5 2. d4 exd4 3. Qxd4 Nc6 4. Qd3 b6 5. B...,1001,-1,1/2-1/2
3,000000000011111101111111110110101111111,00000000000001101001000011100111100110,1. e4 e5 2. Nf3 Nf6 3. Nc3 Bc5 4. Bc4 d6 5. O-...,1002,-1,1/2-1/2
4,0000000000001000111010111101001010011010011011...,0000000000000000010000001110011010100010001100...,1. d4 d5 2. c4 Nf6 3. Nc3 e6 4. Bg5 Be7 5. e3 ...,1002,-1,1/2-1/2

In [2]:
df.shape

(48933, 6)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48933 entries, 0 to 48932
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Liste cheat white  48933 non-null  object
 1   Liste cheat black  48933 non-null  object
 2   Game               48932 non-null  object
 3   Elo White          48933 non-null  int64
 4   Elo Black          48933 non-null  int64
 5   Score              48933 non-null  object
dtypes: int64(2), object(4)
memory usage: 2.2+ MB

In [4]:
df.nunique()

Liste cheat white    18957
Liste cheat black    22726
Game                 46672
Elo White             1236
Elo Black             1125
Score                    3
dtype: int64