In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/bitcoin-historical-data/Bitcoin Historical Data - Investing.com India.csv

In [2]:
filename = '../input/bitcoin-historical-data/Bitcoin Historical Data - Investing.com India.csv'
usecols = ['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %']
df = pd.read_csv(filepath_or_buffer=filename, usecols=usecols, thousands=',')
column = 'Change %'
df[column] = df[column].str.rstrip('%').astype('float') / 100.0

df.head()

     Date    Price     Open     High      Low    Vol.  Change %
0  Jun 23  26931.0  27216.4  27410.2  24838.0   1.06M   -0.0105
1  May 23  27216.1  29252.1  29816.4  25853.1   1.66M   -0.0696
2  Apr 23  29252.1  28473.7  30964.9  27054.3   2.03M    0.0273
3  Mar 23  28473.7  23130.6  29160.4  19591.8  10.26M    0.2310
4  Feb 23  23130.5  23124.7  25236.8  21418.7   9.09M    0.0002

In [3]:
def fix_volume(amount: str) -> float:
    if amount.endswith('K'):
        multiplier = 1e3
    elif amount.endswith('M'):
        multiplier = 1e6
    elif amount.endswith('B'):
        multiplier = 1e9
    else:
        print (amount[-1])
        raise NotImplemented(amount[-1])
    return float(amount[:-1]) * multiplier

column = 'Vol.'
df[column] = df[column].apply(fix_volume)

df.head()

     Date    Price     Open     High      Low        Vol.  Change %
0  Jun 23  26931.0  27216.4  27410.2  24838.0   1060000.0   -0.0105
1  May 23  27216.1  29252.1  29816.4  25853.1   1660000.0   -0.0696
2  Apr 23  29252.1  28473.7  30964.9  27054.3   2030000.0    0.0273
3  Mar 23  28473.7  23130.6  29160.4  19591.8  10260000.0    0.2310
4  Feb 23  23130.5  23124.7  25236.8  21418.7   9090000.0    0.0002

In [4]:
from calendar import month_abbr
month_converter = {month: index for index, month in enumerate(month_abbr) if month}
from datetime import datetime
def fix_date(arg:str) -> datetime:
    pieces = arg.split()
    year = 2000 + int(pieces[1])
    month = month_converter[pieces[0]]
    day = 15
    return datetime(year=year, day=day, month=month)
df['date'] = df['Date'].apply(fix_date)

df.head()

     Date    Price     Open     High      Low        Vol.  Change %       date
0  Jun 23  26931.0  27216.4  27410.2  24838.0   1060000.0   -0.0105 2023-06-15
1  May 23  27216.1  29252.1  29816.4  25853.1   1660000.0   -0.0696 2023-05-15
2  Apr 23  29252.1  28473.7  30964.9  27054.3   2030000.0    0.0273 2023-04-15
3  Mar 23  28473.7  23130.6  29160.4  19591.8  10260000.0    0.2310 2023-03-15
4  Feb 23  23130.5  23124.7  25236.8  21418.7   9090000.0    0.0002 2023-02-15