In [1]:
import pandas as pd

VN1D = '/kaggle/input/vnstockdata/HOSEVNINDEX1D.csv'
df = pd.read_csv(filepath_or_buffer=VN1D)
df.head()

,time,open,high,low,close,55EMA,89EMA,200EMA,Plot
0,964749600,100.000000,100.000000,100.000000,100.000000,NaN,NaN,NaN,NaN
1,965008800,101.550003,101.550003,101.550003,101.550003,NaN,NaN,NaN,NaN
2,965181600,103.379997,103.379997,103.379997,103.379997,NaN,NaN,NaN,NaN
3,965354400,105.199997,105.199997,105.199997,105.199997,NaN,NaN,NaN,NaN
4,965613600,106.919998,106.919998,106.919998,106.919998,NaN,NaN,NaN,NaN