In [1]:
import pandas as pd

DATA = '/kaggle/input/samsung-electronics-historical-stock-prices/samsung_electronics_stocks_data.csv'
df = pd.read_csv(filepath_or_buffer=DATA)
df.head()

,Unnamed: 0,Date,Open,High,Low,Close,Volume
0,0,2000-01-04 00:00:00+09:00,4325.925736,4405.234375,4080.789945,4405.234375,74195000
1,1,2000-01-05 00:00:00+09:00,4181.727606,4369.184360,3979.851100,4023.110352,74680000
2,2,2000-01-06 00:00:00+09:00,4145.679580,4167.309212,4023.111662,4051.951172,54390000
3,3,2000-01-07 00:00:00+09:00,4008.691972,4088.000626,3864.494419,3994.272217,40305000
4,4,2000-01-10 00:00:00+09:00,4037.530735,4160.098633,4023.110983,4160.098633,46880000